//colors
$green-color: #00ABB3;
$white-color: #EAEAEA;
$grey-color: #3C4048;
$grey-lighter-color: rgba(60, 64, 72, 0.5);
$grey-transparent-color: rgba(234, 234, 234, 0.5);
$red-color: #FF4A4A;

//fonts 
$primary-font: Verdana, Geneva, Tahoma, sans-serif;